{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-home"></i>
                </span> Product List
              </h3>
              <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                  </li>
                </ul>
              </nav>
            </div>

            <div class="row">
             
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Product List</h4>
                    <!-- <p class="card-description"> Add class <code>.table-striped</code> -->
                    </p>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>SKU</th>
                          <th>Barcode</th>
                          <th>Purchase Price</th>
                          <th>Selling Price</th>
                          <th>Stock</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for product in products %}
                        <tr>
                          <td class="py-1">
                            {{ product.name }}
                          </td>
                          <td> {{ product.sku }} </td>
                          <td>
                            {{ product.barcode }}
                          </td>
                          <td> {{ product.purchase_price }} </td>
                          <td> {{ product.selling_price }} </td>
                          <td> {{ product.stock_quantity }} </td>

                        </tr>
                        {% endfor %}


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>


            
</div>


       
          
        

{% endblock %}