{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-home"></i>
                </span> Order List
              </h3>
              <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                  </li>
                </ul>
              </nav>
            </div>

            <div class="row">
             
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Order List</h4>
                    
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Order Id</th>

                          <th>Tracking Id</th>
                          <th>Platform</th>
                          <th>Quantity</th>
                          <th>Customer Name</th>
                          <th>Selling Price</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for Order in Orders %}
                        <tr>
                          <td class="py-1">
                            {{ Order.order_id }}
                          </td>
                          <td> {{ Order.tracking_id }} </td>
                          <td>{{ Order.platform }}</td>
                          <td> {{ Order.quantity }} </td>
                          <td> {{ Order.customer_name }} </td>
                          <td> {{ Order.selling_price }}</td>
                          <td> {{ Order.status }}</td>
                          <td>
                            <i class="fa fa-eye me-2"></i>
                            <i class="fa fa-pencil-square-o me-2"></i>
                            <i class="fa fa-trash-o"></i>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <div class="pagination mt-3">
                      <nav aria-label="Page navigation">
                          {% if Orders.has_previous %}
                          <a href="?page=1">&laquo; First</a>
                          <a href="?page={{ Orders.previous_page_number }}">Previous</a>
                        {% endif %}

                        <span>
                          Page {{ Orders.number }} of {{ Orders.paginator.num_pages }}
                        </span>
                        <ul class="pagination justify-content-center mt-4">
                          {% if Orders.has_next %}
                            <li class="page-item">
                              <a class="page-link" href="?page={{ Orders.next_page_number }}">
                                Next
                              </a>
                            </li>

                            <li class="page-item">
                              <a class="page-link" href="?page={{ Orders.paginator.num_pages }}">
                                Last &raquo;
                              </a>
                            </li>
                          {% endif %}

                        </ul>
                      </nav>

                    </div>
                  </div>
                </div>
              </div>
            </div>


            
</div>


       
          
        

{% endblock %}